.tab {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
  }
  
  .tab-button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 16px;
  }
  
  .tab-button.active {
    background-color: #ccc;
  }
  
  .tab-content {
    padding: 20px;
    background-color: #fff;
  }

  table {
    width: 100%;
  }
  
  .mat-row:hover {
    background-color: #f5f5f5;
  }
  
  .profile-card {
    max-width: 400px;
    margin: auto;
  }
  
  .profile-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-icon {
    margin-right: 10px;
  }
  
  .profile-label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .profile-value {
    font-weight: normal;
  }
  table {
    width: 100%;
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  
  .mat-row:hover {
    background-color: #f5f5f5;
  }
  
  /* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Table Header Styles */
th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ccc;
}

/* Table Data Styles */
td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Alternating Row Colors */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover Effect on Rows */
tr:hover {
  background-color: #e6e6e6;
}

/* Caption Styles */
caption {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Additional Cell Formatting */
/* First Column Background Color */
td:first-child {
  background-color: #eaf2ff;
}

/* Highlight Specific Cells */
td.highlight {
  background-color: #ffcccc;
  color: #ff0000;
}

/* Center Align Text */
td.text-center {
  text-align: center;
}

/* Right Align Text */
td.text-right {
  text-align: right;
}

.h2{
  background-color: #121111;
  border-radius: 10px;
  padding: 20px;
}

.circleRed {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}
.circleGreen {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color:green;
}


.fixed-top {
  position: fixed;
  top: 0px; /* Adjust the value as per your desired padding */
  left: 0;
  width: 100%;
  z-index: 9999;
}

.padding-for-content{
  padding-top: 20px; 
 
}
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  
}

.mainText {
  display: flex;
  flex-direction: column;
}

.subtext {
  margin-top: 5px; /* Adjust the value as per your desired spacing */
}
.bold-div {
  font-weight: bold;
}




