.tab {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.tab-button {
  background-color: #f1f1f1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  font-size: 16px;
}

.tab-button.active {
  background-color: #ccc;
}

.tab-content {
  padding: 20px;
  background-color: #fff;
}
